<!DOCTYPE html>
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel = "stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>
        Delete Transaction
    </title>
</head>

<body>
    <a href="VideoGames"><button class="tablink">Video Games</button></a>
    <a href="Categories"><button class="tablink">Categories</button></a>
    <a href="Developers"><button class="tablink">Developers</button></a>
    <a href="Clients"><button class="tablink">Clients</button></a>  
    <a href="Transactions"><button class="tablink">Transactions</button></a>
    

    <br><br><br><br><br><br><br><br>
    <div class="center">
    <form action="/delTransaction" method="POST">
    <label for="Transaction_ID" class="inputData">Enter Transaction ID:</label>
    <input style="font-size: 130%" type="number" id="Transaction_ID" name="Transaction_ID" min="1" max="999" placeholder="ex. 1" required>
    <br><br><br>
    <button style="font-size: 150%; color:black;" type="submit">Submit </button>
  </form>
    </div>
    
<br><br><br>
</body>
</html>